.container {
  display: block;
  margin: 0px 60px;
  font-family: Arial, Helvetica, sans-serif;

}

#main-data .active {
  color: rgb(33,33,33);
  text-decoration: none;
  cursor: default;
}

#description {
  text-transform: capitalize;
}
#main-data .active:hover {
  text-decoration:none;
}

#temperature {
  display: inline-block;
  padding: 20px 10px;
  margin: 0px 0px 20px 0px;
  background-color: rgb(192, 200, 244);
  border-radius: 70px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(89, 106, 202);
}



#celsius {
  color: black;
  text-decoration: none;
  cursor: pointer;
margin-left: 10px;
font-size: 28px;
}

#search-form {
  display: inline-block;
  margin: 0 -450px;
  padding: 10px 0 30px;
}

#main-emoji {
  margin: 0px 10px;
  padding: 0px;

}

#main-data {
  text-align: left;
  margin-top: 15px;
  margin-left: 5px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

#date {
  font-weight:500;
  font-size: 28px;
}

#location {
  font-weight:500;
  font-size: 42px;
}

#forecast {
  display: block;
  text-align: center;
  padding: 40px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(192, 200, 244);
  border-radius: 60px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(89, 106, 202);
}

.temperature-min {
  opacity: 50%;
}

input {
  padding: 10px 30px;
  text-align: left;
  border-radius: 23px;
  border: solid;
  border-width: 2px;
  border-color: rgb(89, 106, 202);
}

.elements {
  color: rgba(0, 0, 0, 0.41);
}

#field {
  margin-left: 450px;
  padding-right: 30px;
}

#searchbutton {
  background-color: rgb(89, 106, 202);
  margin-left: -108px;
}

#currentlocationbutton {
  display: block;
  width: max-content;
  background-color: rgb(68, 67, 65);
  color: rgb(253, 253, 254);
  padding: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 53px;
  border: none;
}


h2 {
  margin-left: 32px;
  display: block;
  padding-top: 20px;
  text-align: left;
}

small {
  text-align: left;
  margin: -60px 10px;
  padding-top: 10px;
}

